  .slider {
    width: 100%;


  }
  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }

  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  /*edit font-size:10px;*/
  .slick-dots li button:before{
    font-size: 10px;
  }
  /*edit bottom:-25px;*/
  .slick-dots{
    bottom: 20px;
  }